dpad {
    width: 9em;
    height: 7em;
    position: relative;
}

.stop-button, .camera-reset-button {
    position: absolute;
    right: 0em;
}

.dpad-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: transparent;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.dpad-button:focus,
.dpad-button:hover {
    outline-width: 0; /* fix "ghost border" on click */
    cursor: pointer;
}

.dpad-button:active {
    color: red;
}


.up {
    left: 2em;
    top: 0;
    transform: rotate(90deg);
}

.down {
    left: 2em;
    bottom: 0;
    transform: rotate(270deg);
}

.left {
    top: 2em;
    left: 0;
}

.right {
    top: 2em;
    right: 2em;
    transform: rotate(180deg);
}
