<div >
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-mousedown="up()" ng-mouseup="stop()" class="md-primary up dpad-button" aria-label="up">
    </md-icon>
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-mousedown="left()" ng-mouseup="stop()" class="md-primary left dpad-button" aria-label="left">
    </md-icon>
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-mousedown="right()" ng-mouseup="stop()" class="md-primary right dpad-button" aria-label="right">
    </md-icon>
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-mousedown="down()" ng-mouseup="stop()" class="md-primary down dpad-button" aria-label="down">
    </md-icon>
</div>