<div >
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-click="up()" class="md-primary up dpad-button" aria-label="up">
    </md-icon>
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-click="left()" class="md-primary left dpad-button" aria-label="left">
    </md-icon>
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-click="right()" class="md-primary right dpad-button" aria-label="right">
    </md-icon>
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-click="down()" class="md-primary down dpad-button" aria-label="down">
    </md-icon>

    <md-button class="md-icon-button md-warn stop-button" ng-click="stop()" ng-hide="hideStopButton" aria-label="stop">
        <md-icon md-svg-icon="assets/icons/ic_close_octagon_48px.svg"></md-icon>
    </md-button>

    <md-button class="md-icon-button md-warn camera-reset-button" ng-click="resetCameraPosition()" ng-hide="hideCameraButton" aria-label="reset camera position">
        <md-icon md-svg-icon="assets/icons/ic_filter_center_focus_48px.svg"></md-icon>
    </md-button>
</div>