<div >
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-click="ctrl.up()" class="md-primary up dpad-button" aria-label="up">
    </md-icon>
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-click="ctrl.left()" class="md-primary left dpad-button" aria-label="left">
    </md-icon>
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-click="ctrl.right()" class="md-primary right dpad-button" aria-label="right">
    </md-icon>
    <md-icon md-svg-icon="assets/icons/ic_label_48px.svg" ng-click="ctrl.down()" class="md-primary down dpad-button" aria-label="down">
    </md-icon>

    <md-button class="md-icon-button md-warn stop-button" ng-click="ctrl.stop()" >
        <md-icon md-svg-icon="assets/icons/ic_close_octagon_48px.svg"></md-icon>
    </md-button>
</div>