/**
 * This file is part of Mobile Robot Framework.
 * Mobile Robot Framework is free software under the terms of GNU AFFERO GENERAL PUBLIC LICENSE.
 */
dpad {
    margin-left: auto;
    margin-right: auto;
}

.dpad-button-container {
    width: 7em;
    height: 7em;
    position: relative;
    margin: 0 2em 2em 2em;
}

@media(max-width: 960px) {
    .dpad-button-container {
        margin: 0 1em 2em 1em;
    }
}

.stop-button, .camera-reset-button {
    position: absolute;
    right: 0;
}

.dpad-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: transparent;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.dpad-button:focus,
.dpad-button:hover {
    outline-width: 0; /* fix "ghost border" on click */
    cursor: pointer;
}

.dpad-button:active {
    color: red;
}

.dpad-button-container .up {
    left: 2em;
    top: 0;
    transform: rotate(90deg);
}

.dpad-button-container .down {
    left: 2em;
    bottom: 0;
    transform: rotate(270deg);
}

.dpad-button-container .left {
    top: 2em;
    left: 0;
}

.dpad-button-container .right {
    top: 2em;
    right: 0;
    transform: rotate(180deg);
}
