/**
 * This file is part of Mobile Robot Framework.
 * Mobile Robot Framework is free software under the terms of GNU AFFERO GENERAL PUBLIC LICENSE.
 */
parking-sensors {
}

/* collision left front */
parking-sensors .collision-lf {
}

/* collision right front */
parking-sensors .collision-rf {

}

/* collision left back */
parking-sensors .collision-lb {

}

/* collision right back */
parking-sensors .collision-rb {

}

parking-sensors .tracks {
    fill: black;
}

parking-sensors .rover-body {
    fill: #009d97;
}

parking-sensors .rover-camera {
    fill: #00365b;
}
