<!-- -->
<!-- This file is part of Mobile Robot Framework. -->
<!-- Mobile Robot Framework is free software under the terms of GNU AFFERO GENERAL PUBLIC LICENSE. -->
<!-- -->
<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mobile Robot Framework Client</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div ng-controller="SidebarCtrl">
    <md-toolbar class="md-primary md-whiteframe-z2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidebar()" aria-label="Settings" hide-gt-md
                       ng-disabled="$mdMedia('gt-md')">
                <md-icon md-svg-icon="assets/icons/ic_menu_48px.svg"></md-icon>
            </md-button>
            <h2>
                <span>Mobile Robot Framework</span>
            </h2>
            <span flex></span>
            <!--Has no connection to the rover-->
            <md-button class="md-icon-button md-warn" ng-show="roverService.hasConnection() === false" aria-label="Favorite">
                <md-icon md-svg-icon="assets/icons/ic_sync_disabled_48px.svg"></md-icon>
                <md-tooltip md-direction="left">
                    No connection to Rover!
                </md-tooltip>
            </md-button>
            <!--Has a connection to the rover-->
            <md-button class="md-icon-button" ng-show="roverService.hasConnection() === true" aria-label="Favorite">
                <md-icon md-svg-icon="assets/icons/ic_sync_48px.svg"></md-icon>
                <md-tooltip md-direction="left">
                    You are connected to the rover!
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <section layout="row">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidebar"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-primary md-whiteframe-z2" layout-align="center" hide-gt-md>
                <md-button class="md-icon-button" ng-click="closeSidebar()" aria-label="Back">
                    <md-icon md-svg-icon="assets/icons/ic_arrow_back_48px.svg"></md-icon>
                </md-button>
            </md-toolbar>
            <md-content layout-padding>
                <md-menu-content style="min-height: 600px;">
                    <md-menu-item>
                        <md-button ng-href="#/main" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_home_48px.svg"></md-icon>
                            Main
                        </md-button>
                    </md-menu-item>

                    <!-- only for desktop devices -->
                    <md-menu-item hide show-gt-md>
                        <md-button ng-href="#/drive/roverMaster" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_filter_center_focus_48px.svg"></md-icon>
                            Rover Master
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-disabled="true" ng-href="#/drive" ng-click="closeSidebar()">
                            <md-icon class="menueLabelIcon" md-svg-icon="assets/icons/ic_games_48px.svg"></md-icon>
                            <span class="menueLabelText">Drive Control</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item class="submenu">
                        <md-button ng-href="#/drive" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_chevron_right_48px.svg"></md-icon>
                            Camera & Driving
                        </md-button>
                    </md-menu-item>


                    <md-menu-item class="submenu" hide-gt-md>
                        <md-button ng-href="#/drive/driveonly" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_chevron_right_48px.svg"></md-icon>
                            Driving only
                        </md-button>
                    </md-menu-item>

                    <md-menu-item class="submenu" hide-gt-md>
                        <md-button ng-href="#/stop" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_chevron_right_48px.svg"></md-icon>
                            Emergency Stop
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-disabled="true" ng-href="#/drive" ng-click="closeSidebar()">
                            <md-icon class="menueLabelIcon" md-svg-icon="assets/icons/ic_visibility_48px.svg"></md-icon>
                            <span class="menueLabelText">Camera Control</span>
                        </md-button>
                    </md-menu-item>

                    <!--<md-menu-item class="submenu" hide-gt-md>-->
                    <md-menu-item class="submenu">
                        <md-button ng-href="#/observe/cameraController" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_chevron_right_48px.svg"></md-icon>
                            Camera Movement
                        </md-button>
                    </md-menu-item>

                    <md-menu-item class="submenu">
                        <md-button ng-href="#/observe" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_chevron_right_48px.svg"></md-icon>
                            Camera View
                        </md-button>
                    </md-menu-item>


                    <md-menu-item>
                        <md-button ng-href="#/settings" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_settings_48px.svg"></md-icon>
                            Settings
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-href="#/logs" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_receipt_48px.svg"></md-icon>
                            Logs
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-href="#/info" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_info_outline_48px.svg"></md-icon>
                            About
                        </md-button>
                    </md-menu-item>

                    </md-menu-divider>

                    <md-menu-item>
                        <md-button id="devButton" ng-hide="true" ng-href="#/developer" ng-click="closeSidebar()">
                            <md-icon md-svg-icon="assets/icons/ic_settings_48px.svg"></md-icon>
                            Developer options
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-content>
        </md-sidenav>
        <md-content flex>
            <!-- Main Container-->
            <div ng-view></div>

        </md-content>
        </md-sidenav>
    </section>
</div>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<!-- Angular Dependencies -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-websocket/dist/angular-websocket.js"></script>
<script src="bower_components/angular-css/angular-css.min.js"></script>
<!-- Angular Material Dependencies -->
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-img-fallback/angular.dcb-img-fallback.min.js"></script>
<!-- Project Dependencies -->
<script src="bower_components/nipplejs/dist/nipplejs.min.js"></script>
<script src="bower_components/clientjs/src/client.min.js"></script>
<script src="services/roverService/roverService.js"></script>
<script src="services/joystickService/joystickService.js"></script>
<script src="main/main.js"></script>
<script src="roverDrive/roverDrive.js"></script>
<script src="roverMaster/roverMaster.js"></script>
<script src="roverObserve/roverObserve.js"></script>
<script src="logs/logs.js"></script>
<script src="settings/settings.js"></script>
<script src="info/info.js"></script>
<script src="developer/developer.js"></script>
<script src="app.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="components/dpad/dpad.js"></script>
<script src="components/joystick/joystick.js"></script>
<script src="components/driverCard/driverCard.js"></script>
<script src="components/parkingSensors/parkingSensors.js"></script>
</body>
</html>
